.toolbar {
    background: #FFB300;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.home_button {
    transform: scale(1.5);
}

.exit_to_app_button {
    transform: scale(1.5);
}

.create_vehicle {
    transform: scale(1.3);
}

.view_vehicle {
    transform: scale(1.3);
}

.edit_vehicle {
    transform: scale(1.3);
}

.delete_vehicle {
    transform: scale(1.3);
}

.vehicle_type {
    padding-left: 30px;
}

.register_date {
    padding-left: 80px;
}

.actions {
    padding-left: 17px;
}