.toolbar {
    background: #FFB300;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.home_button {
    transform: scale(1.5);
}

.exit_to_app_button {
    transform: scale(1.5);
}

.create_user {
    transform: scale(1.3);
}

.view_user {
    transform: scale(1.3);
}

.edit_user {
    transform: scale(1.3);
}

.delete_user {
    transform: scale(1.3);
}

.username {
    padding-left: 30px;
}

.email {
    padding-left: 80px;
}

.password {
    padding-left: 27px;
}

.role {
    padding-left: 30px;
}

.actions {
    padding-left: 77px;
}