.toolbar {
    background: #FFB300;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.home_button {
    transform: scale(1.5);
}

.exit_to_app_button {
    transform: scale(1.5);
}

.container {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 530px;
    width: 100%;
}

.legend_vehicle_id {
    background-color: aqua;
    text-align: center;
    width: 400px;
    height: 530px;
}